<header>
    <div class="header-container">
      <a class="logo-link" href="{{ '/' | relative_url }}">~\ether&gt;<span class="cursor">_</span></a>
      <button
        class="menu-toggle"
        aria-controls="main-nav"
        aria-expanded="false"
        onclick="toggleMenu(this)"
      >☰</button>
      <nav id="main-nav">
        <a href="{{ '/' | relative_url }}">Blog</a>
        <a href="{{ '/articles/' | relative_url }}">Articles</a>
        <a href="{{ '/resources/' | relative_url }}">Resources</a>
        <a href="{{ '/about/' | relative_url }}">About</a>
        <a href="{{ '/contact/' | relative_url }}">Contact</a>
      </nav>
    </div>
  </header>
  